[Unit]
Description=premiere-relay-archive: 다음 날의 데이터 파일을 매일 미리 준비
Requires=prepare_daily_file.service

[Timer]
OnCalendar=*-*-* 23:57:00
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target