:80 {
    redir /premiere-relay-archive /premiere-relay-archive/ 301
    redir /premiere-relay-archive/data /premiere-relay-archive/data/ 301

    handle /premiere-relay-archive/data/* {
        uri strip_prefix /premiere-relay-archive/data
        root * /app/data
        file_server {
            browse
            hide .git .github
        }
    }

    handle_path /premiere-relay-archive/* {
        root * /app/public
        route {
            @phpFile path *.php
            rewrite @phpFile {path}
            rewrite * /index.php
            reverse_proxy web:9000 {
                transport fastcgi {
                    root /app/public
                    split .php
                }
            }
        }
    }
}